.main h1 {
  margin: 25px;
  font-weight: bold;
  text-align: flex-start;
}

.post h3 {
  margin-top: 0em;
}

.feed {
  display: flex;
  align-items: inline-flex;
  flex-direction: column;
}

.post {
  width: 100vw;
  padding: 25px;
  cursor: pointer;
  text-align: start;
  border: solid black 1px;
  overflow: auto;
}

.box {
  display: flex;
  align-items: flex-start;
}

.box p {
  margin-left: 1em;
}

.mainImage {
  width: 500px;
  filter: grayscale(0%);
  transition: 0.2s;
  max-width: calc(100vw - 50px);
}

.post:hover .mainImage {
  filter: grayscale(100%);
  transition: 0.2s;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
}

.profile h1 {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 75px;
}

.profile p {
  max-width: 700px;
}